@font-face {
	font-family: Favorit;
	font-style:  normal;
	font-weight: normal;
	font-display: swap;
	src: url('/fonts/favorit-std-regular.woff') format('woff');
}

:root {
	--black: #1C1C1A;
	--white: #FFFFFF;
	--purple: #651DFF;

	--font: Favorit, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-size: 24px;
	--line-height: 29px;

	--easing: cubic-bezier(0.165, 0.84, 0.44, 1);

	--spacing-S: 13px;
	--spacing-M: 15px;
}

@media (min-width: 768px) {
	:root {
		--font-size: 36px;
		--line-height: 43px;

		--spacing-S: 40px;
		--spacing-M: 50px;
	}
}

#root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100);
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;
}

body {
	font: normal var(--font-size)/var(--line-height) var(--font);
	color: var(--black);
	background-color: var(--white);
}

a {
	color: inherit;
	text-decoration: none;
	transition: color 0.4s var(--easing);
}

a:hover {
	color: var(--purple);
}
